# Nextcloud Configuration
NEXTCLOUD_DOMAIN=nextcloud.yourdomain.com

# Admin credentials
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD='changeme_secure_password' # fex openssl rand -base64 32

# Database credentials
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD='changeme_db_password' # fex openssl rand -base64 32
